<footer class="main-footer" style="position: fixed; left: 0; bottom: 0; width: 100%;">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2024 <a href="~/">PVD Store</a>.</strong> All rights reserved.
</footer>